

.arrival-jumbo {
    margin-bottom: 5px;
    padding: 1em;
}

.two-columns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 15px;
    grid-template-areas: "name  name  name  info";
    margin-bottom: 15px;
}

.name {
    grid-area: name;
}

.info {
    grid-area: info;
}

