

.arrival-jumbo {
    margin-bottom: 5px;
    padding: 1em;
}

.two-columns {
    display: grid;
    /* grid-template-columns: repeat(7, 1fr); */
    grid-template-columns: auto auto;
    grid-column-gap: 0px;
    grid-template-areas: "name  info";
    /* grid-template-areas: "name  name  name  name  name  info  info"; */
    margin-bottom: 15px;
    min-height: 3em;
}

.name {
    grid-area: name;
}

.info {
    grid-area: info;
}

